/* Import Google Fonts */
@import url("https://fonts.googleapis.com/css2?family=Archivo+Black&family=Noto+Sans:ital,wght@0,100..900;1,100..900&display=swap");

/* Tailwind and daisyUI imports */
@import "tailwindcss";
@plugin "daisyui";

/* Custom DaisyUI theme definition */

@plugin "daisyui/theme" {
  name: "thnk";
  default: false;
  prefersdark: false;
  color-scheme: "light";
  --color-base-100: oklch(14% 0 0);
  --color-base-200: oklch(14% 0.005 285.823);
  --color-base-300: oklch(21% 0.006 56.043);
  --color-base-content: oklch(92% 0.006 264.531);
  --color-primary: oklch(65% 0.241 354.308);
  --color-primary-content: oklch(93% 0.034 272.788);
  --color-secondary: oklch(82% 0.12 346.018);
  --color-secondary-content: oklch(28% 0.109 3.907);
  --color-accent: oklch(89% 0.057 293.283);
  --color-accent-content: oklch(20% 0 0);
  --color-neutral: oklch(21% 0.006 285.885);
  --color-neutral-content: oklch(87% 0.006 286.286);
  --color-info: oklch(74% 0.16 232.661);
  --color-info-content: oklch(28% 0.091 267.935);
  --color-success: oklch(76% 0.177 163.223);
  --color-success-content: oklch(26% 0.065 152.934);
  --color-warning: oklch(82% 0.189 84.429);
  --color-warning-content: oklch(27% 0.077 45.635);
  --color-error: oklch(70% 0.191 22.216);
  --color-error-content: oklch(27% 0.105 12.094);
  --radius-selector: 1rem;
  --radius-field: 1rem;
  --radius-box: 1rem;
  --size-selector: 0.28125rem;
  --size-field: 0.3125rem;
  --border: 0.5px;
  --depth: 0;
  --noise: 1;
}

/* Global resets and styles */
.app-container {
  background-color: #0d0d0d;
  background-image: radial-gradient(
    rgba(255, 255, 255, 0.11) 2px,
    transparent 0
  );
  background-size: 25px 25px;
  background-position: -5px -5px;

  /* Existing body resets */
  margin: 0;
  min-height: 100vh;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Archivo Black", sans-serif;
}

p,
span,
a,
li,
div {
  font-family: "Noto Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: 200;
  font-style: normal;
}

.badge {
  font-weight: bolder;
}

.question-text {
  font-weight: bolder;
}
