.pop-card-cont {
  width: 100%;
  background: rgba(255, 255, 255, 0);
  border-radius: 16px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(5px);
  -webkit-backdrop-filter: blur(5px);
  border: 1px solid rgba(255, 255, 255, 0.3);
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 32px 12px;
  box-sizing: border-box;
  gap: 10px;
  text-align: left;
  font-size: 16px;
  color: #fff;
}
.pop-score {
  font-family: "Noto Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: 500;
  font-style: normal;
  padding: 0 2rem 0 2rem;
}

.pop-btn {
  align-self: stretch;
  height: 36px;
  border-radius: 28px;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 8px 43px;
  color: #fff;
  font-weight: 600;
}

.pop-score {
  margin-top: 1.5rem;
  margin-bottom: 1.5rem;
  border-radius: 16px;
}

.scoring-card {
  width: 100%;
  background: rgba(0, 0, 0, 0.493);
  border-radius: 16px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(5px);
  -webkit-backdrop-filter: blur(5px);
  border: 1px solid rgba(255, 255, 255, 0.3);
}

.quick-in {
  width: 100%;
  background: rgba(0, 0, 0, 0.767);
  border-radius: 16px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(5px);
  border: 1px solid rgba(255, 255, 255, 0.3);
}
