.search-input {
  width: 100%;
  height: 60px;
  box-shadow: 0px 4px 4.1px rgba(0, 0, 0, 0.43);
  border-radius: 20px;
  background-color: #0d0d0d;
  display: flex;
  align-items: center;
  padding: 20px 30px;
  box-sizing: border-box;
  text-align: left;
  font-size: 16px;
  color: #fff;
  font-family: "Nunito", sans-serif;
}
.enterAUrl {
  position: relative;
  font-weight: 300;
}

.search-input > input:focus {
  outline: none;
}
